// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


img{
    max-width: 100%;
}

// Posts index
.posts{
 
    h1{
        margin-bottom: 30px;
    }

    a{
        text-decoration: none;

        .card{
            margin-bottom: 30px;

            .thumb{
                margin-bottom: 20px;
        
                img{
                    max-height: 300px;
                    width: 100%;
                    object-fit: cover;
                    object-position: center;
                } 
            }

            .card-title{
                color: black;
            }
    
            .card-text{
                color: gray;
    
                span{
                    color: black;

                    &:hover{
                        text-decoration: underline;
                        color: rgb(51, 154, 251);
                    }
                }
            }
        } 
    }  
}

// Posts show
.cover{
        
    img{max-height: 500px;
        width: 100%;
        object-fit: cover;
        object-position: center;
    }
}

