// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';



img{
    max-width: 100%;
}

.posts{
 
    h1{
        margin-bottom: 30px;
    }

    a{
        text-decoration: none;

        .card{
            margin-bottom: 30px;
        }
        
        .card-title{
            color: black;
        }

        .card-text{
            color: gray;

            span{
                color: black;
                &:hover{
                    text-decoration: underline;
                    color: rgb(51, 154, 251);
                }
            }
        }
    }

    .poster{
        margin-bottom: 20px;

        img{
            max-height: 300px;
            width: 100%;
            object-fit: cover;
            object-position: center;
        }
        
    }
}

.cover{
        
    img{max-height: 500px;
        width: 100%;
        object-fit: cover;
        object-position: center;
    }
}

// section{
//     margin: 30px 0;

//     .form-group{
//         margin: 15px 0;
//     }

//     button{
//         margin-top: 10px;
//     }
// }

// .comics-list{    
//     display: flex;
//     flex-wrap: wrap;

//     .comic{
//         margin: 20px;

//         .card{
//             height: 650px;
//         }

//         a{
//             display: block;
//             // height: 100%;
//         }
          
//         .content{
//             text-decoration: none;
//             color: black;
            
//             .poster{
//                 text-align: center;

//                 img{
//                     width: 100%;
//                     margin-bottom: 15px;
//                 }
//             }
//         }
        
//     }

// }

// .jumbotron{
//     height: 700px;
//     background-image: url('../img/jumbotron.jpg');
//     background-position: center;

