// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


img{
    max-width: 100%;
}

// Posts index
.posts{
 
    h1{
        margin-bottom: 30px;
    }

    a{
        text-decoration: none;

        .card{
            margin-bottom: 30px;
            // height: 300px;

            .thumb{
                margin-bottom: 20px;
        
                img{
                    max-height: 300px;
                    width: 100%;
                    object-fit: cover;
                    object-position: center;
                } 
            }

            .card-title{
                color: black;
            }
    
            .card-text{
                color: gray;
    
                span{
                    color: black;

                    &:hover{
                        text-decoration: underline;
                        color: rgb(51, 154, 251);
                    }
                }
            }
        } 
    }  
}

// Posts show
.cover{
        
    img{max-height: 500px;
        width: 100%;
        object-fit: cover;
        object-position: center;
    }
}

#edit-profile-form {
    &.hidden {
        display: none;
    }
    &.show{
        display: block;
    }
}



#edit-profile-button {
    &.hidden {
        display: none;
    }
    &.show{
        display: block;
    }
}

.page-not-found{
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.current-cover-preview {
    img {
        width: 100px;
        margin-bottom: 50px ;
    }
}

.post-cover{
    img{
        max-width: 700px;
    }
}


